/* TOP HEADER STYLING START */
.menu-container {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 20px 0;
  height: 100%;
  width: 100%;
}

.page-heading {
  justify-content: center;
}

.page-title {
  margin-left: 20px;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-description {
  margin-left: 25px;
  letter-spacing: 1px;
  text-align: center;
}
/* TOP HEADER STYLING END */
