/* SKILLSET SECTION STYLING START */

.skillset-container {
  display: flex;
  justify-content: center;
}

.skillset {
  align-items: flex-start;
  width: 900px;
  height: 600px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.skillset-column {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill,
.skill-rating {
  margin: 1em;
  font-weight: 600;
  line-height: 2.0;
  border-left-width: 4px;
}


/* SKILLSET SECTION STYLING END */
